      body {
        background-color: #141d2e;
        color: #f1c40f;
        font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 20px;
        direction: rtl;
      }

      h1 {
        text-align: center;
        color: #f1c40f;
        font-size: 1.5em;
        background: #182236;
        padding: 15px 0;
        width: 100%;
        margin: 0 auto 1px auto;
        border-bottom: 3px solid #f1c40f;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        display: block;
        max-width: 800px;
        font-weight: 100;
      }

      .container {
        max-width: 800px;
        margin: 0px auto 10px auto;
        position: relative;
      }

      .level-selection {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
        margin-top: 20px;
        flex-wrap: wrap;
      }

      .level-btn {
        background-color: #2a3955;
        color: #00ff88;
        border: none;
        padding: 20px 30px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.3em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s ease, transform 0.2s ease;
        width: 100%;
      }

      .level-btn:hover {
        background-color: #3a4e73;
        transform: translateY(-2px);
      }

      .level-btn:active {
        transform: translateY(0);
      }

      @media (max-width: 600px) {
        html,
        body {
          height: 100dvh;
          margin: 0;
        }
        h1 {
          font-size: 1.2em;
        }
        .level-btn {
          font-size: 1em;
          padding: 12px 20px;
        }
      }