body {
  background-color: #141d2e;
  color: #f1c40f;
  font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  direction: rtl;
}

h1 {
  text-align: center;
  color: #f1c40f;
  font-size: 1.5em;
  background: #182236;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto 1px auto;
  border-bottom: 3px solid #f1c40f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: block;
  max-width: 800px;
  font-weight: 100;
}

.header span {
  font-size: 1.2rem;
  color: #7c87cc;
}

.container {
  max-width: 800px;
  margin: 10px auto 10px auto;
  position: relative;
}

.accordion {
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #2a3955;
  color: #00ff88;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  text-align: center; /* وسط‌چین کردن متن هدر آکاردئون */
  font-weight: bold;
}

.accordion-header:hover {
  background-color: #3a4e73;
}

.accordion-header.a2 {
  color: #d3ff02;
}

.accordion-content {
  display: none;
  padding: 10px;
  background-color: #182236;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0px 10px;
}

.accordion-content.active {
  display: block;
}

.level-selection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.level-btn {
  background-color: #1f2d46;
  color: #00ff88ad;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  text-align: center; /* وسط‌چین کردن متن دکمه‌ها */
}

.level-btn:hover {
  background-color: #26395a;
  transform: translateY(-2px);
}

.level-btn:active {
  transform: translateY(0);
}

.level-btn.a2 {
  color: #bbd540;
}

@media (max-width: 600px) {
  html,
  body {
    height: 100dvh;
    margin: 0;
  }
  h1 {
    font-size: 1.2em;
  }
  .accordion-header {
    font-size: 1.1em;
    padding: 10px;
  }
  .level-btn {
    font-size: 1em;
    padding: 12px 15px;
  }
}
